.about-container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;

}
.about-me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        #4db5ff,
        transparent
    );
    display: grid;
    place-items: center;
}
.about-me img{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
}
.about-me img:hover{
    transform: rotate(0deg);
    transition: all 0.4s ease;
}

.about-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.about-card{
    background-color: #2c2c6c;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}
.about-card:hover{
    background: transparent;
    border-color: #2c2c6c;
    cursor: default;
}
.icons{
    color: #4db5ff;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.about-card h5{
    font-size: 1.3rem;
    font-weight: bold;
}
.about-card small{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
}
.about-content p{
    margin: 2rem 0 2.6rem;
}

/* ==========Media queries (medium devices) */

@media screen and (max-width: 1024px) {
    .about-container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about-me{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about-content p{
        margin: 1rem 0 1.5rem;
    }
  }
  /* ==========Media queries (smaller devices) */
  @media screen and (max-width: 600px) {
    .about-me{
        width: 65%;
        margin: 0 auto 3rem;
    }
    .about-cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .about-content{
        text-align: center;
    }
    .about-content p{
        margin: 1.5rem 0;
    }
  }